.all{
    min-height:100vh;
    height:100%;
    padding-bottom:20px;
}
.heading{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn{
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #9b1f53;
    color: white;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.buttonContainter{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top:20px
}