.all{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.ipt{
    padding:5px 10px;
    color: black;
}
.btn{
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #9b1f53;
    color: white;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}